In [2]:
import pandas as pd

def weekly():

    columns = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
    rows = ['f', 'm', 's']

    df = pd.DataFrame(columns=columns, index=rows, dtype=bool)

    return df

In [21]:
weekdays = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

class employee:
    
    def __init__(self, name:str, availability:pd.DataFrame, weekly_hours:int):
        self.name = name
        self.availability = availability
        self.weekly_hours = weekly_hours


    def available(self): # implement an error-handler!
            for day in weekdays:
                availability_bool = input(f'availability of {self.name} on {day} for früh, mittel, spät in boolean:').split(',')
                bools = [bool(value.strip().lower() == 'true') for value in availability_bool]
                self.availability[day] = bools

In [15]:
# shift = [employee1, employee2, employee3, ... , employeen]

a = employee('Ace', weekly(), 30)
a.available()

b = employee('Bruce', weekly(), 20)
b.available()

c = employee('Charlie', weekly(), 10)
c.available()

In [16]:
a.availability

    mon    tue    wed   thu    fri    sat   sun
f  True  False   True  True   True  False  True
m  True  False   True  True   True   True  True
s  True  False  False  True  False   True  True

In [17]:
b.availability

     mon   tue    wed    thu   fri    sat    sun
f  False  True  False  False  True   True  False
m  False  True  False  False  True  False   True
s  False  True   True  False  True  False   True

In [18]:
c.availability

     mon   tue    wed    thu    fri   sat   sun
f   True  True  False  False  False  True  True
m   True  True  False  False  False  True  True
s  False  True  False  False  False  True  True

In [19]:
employees = []

employees.append(a)
employees.append(b)
employees.append(c)

In [20]:
employees

[<__main__.employee at 0x148943090>,
 <__main__.employee at 0x10e7bac50>,
 <__main__.employee at 0x120c94bd0>]

In [22]:
available = {'mon': {'f':[], 'm':[], 's':[]}, 'tue': {'f':[], 'm':[], 's':[]}, 'wed': {'f':[], 'm':[], 's':[]}, 'thu': {'f':[], 'm':[], 's':[]}, 'fri': {'f':[], 'm':[], 's':[]}, 'sat': {'f':[], 'm':[], 's':[]}, 'sun': {'f':[], 'm':[], 's':[]}}

def emp_availability(emp:employee):
    for day in weekdays:
        for i in range (3):
            if emp.availability[day].values[i] == True:
                if i == 0:
                    available[day]['f'].append(emp.name)
                elif i == 1:
                    available[day]['m'].append(emp.name)
                else:
                    available[day]['s'].append(emp.name)

def update():
    for emp in employees:
        emp_availability(emp)

In [24]:
available

{'mon': {'f': ['Ace', 'Charlie'], 'm': ['Ace', 'Charlie'], 's': ['Ace']},
 'tue': {'f': ['Bruce', 'Charlie'],
  'm': ['Bruce', 'Charlie'],
  's': ['Bruce', 'Charlie']},
 'wed': {'f': ['Ace'], 'm': ['Ace'], 's': ['Bruce']},
 'thu': {'f': ['Ace'], 'm': ['Ace'], 's': ['Ace']},
 'fri': {'f': ['Ace', 'Bruce'], 'm': ['Ace', 'Bruce'], 's': ['Bruce']},
 'sat': {'f': ['Bruce', 'Charlie'],
  'm': ['Ace', 'Charlie'],
  's': ['Ace', 'Charlie']},
 'sun': {'f': ['Ace', 'Charlie'],
  'm': ['Ace', 'Bruce', 'Charlie'],
  's': ['Ace', 'Bruce', 'Charlie']}}

In [26]:
def show_weekly_availability():
    for day, staff in available.items():
        print(f'{day}:')

        for time, emp in available[day].items():
            print(f'    {time}: {", ".join(emp)}')

mon:
    f: Ace, Charlie
    m: Ace, Charlie
    s: Ace
tue:
    f: Bruce, Charlie
    m: Bruce, Charlie
    s: Bruce, Charlie
wed:
    f: Ace
    m: Ace
    s: Bruce
thu:
    f: Ace
    m: Ace
    s: Ace
fri:
    f: Ace, Bruce
    m: Ace, Bruce
    s: Bruce
sat:
    f: Bruce, Charlie
    m: Ace, Charlie
    s: Ace, Charlie
sun:
    f: Ace, Charlie
    m: Ace, Bruce, Charlie
    s: Ace, Bruce, Charlie

<span style="color:#add753; font-size:27px;">
next steps: <br><br>
(1) error handling for user input when calling available()  <br>
(2) randomly choose an employee for each time on each day from the dictionary 'available'  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**considering the weekly hours for each employee**  <br>
(3) figure out how to store the values in 'available' in a database so it can be called and used again later  <br>
</span>

In [3]:
# # shift = {employee: dataframe for availability, weekly work hours}
# # employees = [[emp1, hours], [emp2, hours], [emp3, hours], ... , [empn, hours]]

# shift = {}

# employees = []

# employees.append(['a', 30])
# employees.append(['b', 20])
# employees.append(['c', 10])

# for emp,hours in employees:
#     shift[emp] = [weekly(), hours]

# print(shift)

{'a': [    mon   tue   wed   thu   fri   sat   sun
f  True  True  True  True  True  True  True
m  True  True  True  True  True  True  True
s  True  True  True  True  True  True  True, 30], 'b': [    mon   tue   wed   thu   fri   sat   sun
f  True  True  True  True  True  True  True
m  True  True  True  True  True  True  True
s  True  True  True  True  True  True  True, 20], 'c': [    mon   tue   wed   thu   fri   sat   sun
f  True  True  True  True  True  True  True
m  True  True  True  True  True  True  True
s  True  True  True  True  True  True  True, 10]}

In [4]:
# shift['c']

[    mon   tue   wed   thu   fri   sat   sun
 f  True  True  True  True  True  True  True
 m  True  True  True  True  True  True  True
 s  True  True  True  True  True  True  True,
 10]

In [5]:
# shift['a'][0]['mon']

f    True
m    True
s    True
Name: mon, dtype: bool

In [6]:
# shift['a'][0]['mon'] = [True, True, True]
# shift['a'][0]['tue'] = [False, False, True]
# shift['a'][0]['wed'] = [True, False, True]
# shift['a'][0]['thu'] = [True, True, True]
# shift['a'][0]['fri'] = [False, False, False]
# shift['a'][0]['sat'] = [True, True, False]
# shift['a'][0]['sun'] = [True, False, False]

In [7]:
# shift['b'][0]['mon'] = [False, False, False]
# shift['b'][0]['tue'] = [False, True, True]
# shift['b'][0]['wed'] = [True, True, True]
# shift['b'][0]['thu'] = [True, True, False]
# shift['b'][0]['fri'] = [False, True, True]
# shift['b'][0]['sat'] = [True, True, True]
# shift['b'][0]['sun'] = [True, True, True]

In [8]:
# shift['c'][0]['mon'] = [True, True, True]
# shift['c'][0]['tue'] = [True, True, True]
# shift['c'][0]['wed'] = [True, True, True]
# shift['c'][0]['thu'] = [True, True, True]
# shift['c'][0]['fri'] = [False, False, False]
# shift['c'][0]['sat'] = [False, False, False]
# shift['c'][0]['sun'] = [True, True, True]

In [9]:
# shift['a'][0]

    mon    tue    wed   thu    fri    sat    sun
f  True  False   True  True  False   True   True
m  True  False  False  True  False   True  False
s  True   True   True  True  False  False  False

In [14]:
# available = {'mon': {'f':[], 'm':[], 's':[]}, 'tue': {'f':[], 'm':[], 's':[]}, 'wed': {'f':[], 'm':[], 's':[]}, 'thu': {'f':[], 'm':[], 's':[]}, 'fri': {'f':[], 'm':[], 's':[]}, 'sat': {'f':[], 'm':[], 's':[]}, 'sun': {'f':[], 'm':[], 's':[]}}

# for emp in shift:
#     for day in shift[emp][0].columns:
#         for available_day in available:
#             for time in 
#             if day == available_day:
                
#             available.append(emp)

In [10]:
# shift['a'][0].columns

Index(['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'], dtype='object')

In [11]:
# shift['a'][0]['mon'].values

array([ True,  True,  True])

In [15]:
# available

{'mon': {'f': [], 'm': [], 's': []},
 'tue': {'f': [], 'm': [], 's': []},
 'wed': {'f': [], 'm': [], 's': []},
 'thu': {'f': [], 'm': [], 's': []},
 'fri': {'f': [], 'm': [], 's': []},
 'sat': {'f': [], 'm': [], 's': []},
 'sun': {'f': [], 'm': [], 's': []}}

In [16]:
# weekdays = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

# def emp_availability(emp):
#     for day in weekdays:
#         for i in range (3):
#             if shift['a'][0][day].values[i] == True:
#                 if i == 0:
#                     available[day]['f'].append('a')
#                 elif i == 1:
#                     available[day]['m'].append('a')
#                 else:
#                     available[day]['s'].append('a')

In [17]:
# available

{'mon': {'f': ['a'], 'm': ['a'], 's': ['a']},
 'tue': {'f': [], 'm': [], 's': ['a']},
 'wed': {'f': ['a'], 'm': [], 's': ['a']},
 'thu': {'f': ['a'], 'm': ['a'], 's': ['a']},
 'fri': {'f': [], 'm': [], 's': []},
 'sat': {'f': ['a'], 'm': ['a'], 's': []},
 'sun': {'f': ['a'], 'm': [], 's': []}}